@font-face {
  font-family: 'RobotoCondensed';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.svg#RobotoCondensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'RobotoCondensed';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Light.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed/RobotoCondensed-Light.svg#RobotoCondensed-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'RobotoCondensed';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot?r5spku");
  src: url("../fonts/icomoon/icomoon.eot?r5spku#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?r5spku") format("truetype"), url("../fonts/icomoon/icomoon.woff?r5spku") format("woff"), url("../fonts/icomoon/icomoon.svg?r5spku#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"], [class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cash:before {
  content: "\e900"; }

.icon-checked:before {
  content: "\e901"; }

.icon-coin:before {
  content: "\e902"; }

.icon-facebook:before {
  content: "\e903"; }

.icon-instagram:before {
  content: "\e904"; }

.icon-key:before {
  content: "\e905"; }

.icon-money:before {
  content: "\e906"; }

.icon-play-arrow:before {
  content: "\e907"; }

.icon-right-arrow:before {
  content: "\e908"; }

.icon-steam:before {
  content: "\e909"; }

.icon-twitter:before {
  content: "\e90a"; }

.icon-vk:before {
  content: "\e90b"; }

.icon-youtube-logo:before {
  content: "\e90c"; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'RobotoCondensed', sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-weight: 300;
  color: #999; }

h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase; }

h2 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase; }

h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px;
  font-weight: 700; }

h6 {
  font-size: 14px;
  font-weight: 700; }

a {
  color: #999;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    outline: none;
    color: inherit; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px; }
  p a {
    position: relative;
    color: #fe9700;
    font-weight: normal; }
    p a::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      bottom: -1px;
      background: #4C2E00; }
    p a:hover, p a:focus {
      color: #fe9700; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  background: #000;
  color: #999;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  header.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100; }

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.header-wrap {
  min-height: 64px; }

.burger-menu {
  display: none; }

.main-menu ul {
  list-style: none; }
  .main-menu ul > li {
    display: inline-block;
    margin-right: 34px; }
    .main-menu ul > li:last-child {
      margin-right: 0; }
    .main-menu ul > li > a {
      display: block;
      text-transform: uppercase;
      font-weight: bold; }
      .main-menu ul > li > a:hover {
        opacity: 1;
        color: #fff; }

.login > * {
  display: inline-block;
  vertical-align: middle; }

.login .icon-key {
  padding-right: 8px;
  color: #fe9700;
  font-size: 25px; }

.login > span {
  padding: 0 3px;
  font-size: 13px; }

.login-link {
  position: relative;
  text-transform: uppercase;
  color: #fff; }
  .login-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: #4D4D4D; }
  .login-link:hover {
    color: #fff; }

.banner {
  position: relative;
  text-align: center; }
  .banner img {
    display: block;
    margin: 0 auto; }
  .banner .soc-btn {
    text-align: right; }
  .banner h2 {
    margin-bottom: 40px;
    color: #fff; }
  .banner h4 {
    margin-bottom: 50px; }

.banner-overlay {
  position: absolute;
  padding: 20px 0 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .banner-overlay .container {
    height: 100%; }

.banner-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-calc(100% - 42px);
  height: calc(100% - 42px); }

.soc-btn {
  list-style: none; }
  .soc-btn li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle; }
    .soc-btn li:last-child {
      margin-right: 0; }
    .soc-btn li a:hover, .soc-btn li a:focus {
      color: #fff;
      opacity: 1; }

.logo {
  margin-bottom: 50px;
  text-align: center; }

.polygon {
  position: relative;
  display: inline-block;
  padding: 0 125px; }
  .polygon::before, .polygon::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 0;
    width: 90px;
    height: 13px;
    background: url(../img/polygon-left.png); }
  .polygon::after {
    left: auto;
    right: 0;
    background: url(../img/polygon-right.png); }

.btn {
  display: inline-block;
  width: 321px;
  height: 64px;
  line-height: 62px;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  outline: none;
  text-align: center; }
  .btn:hover .icon-right-arrow {
    left: 5px; }
  .btn .icon-right-arrow {
    position: relative;
    padding: 0 0 0 5px;
    left: 0;
    font-size: 16px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.btn-yellow {
  color: #fff;
  background: url(../img/btn-yellow.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  .btn-yellow:hover {
    opacity: 1;
    color: #fff; }
  .btn-yellow .icon-right-arrow {
    color: #fff; }

.btn-white {
  width: 313px;
  background: url(../img/btn-white.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.05em; }
  .btn-white:hover {
    opacity: 1;
    color: #333; }

.section {
  padding: 90px 0;
  background-color: #000; }
  .section h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #fff; }
    .section h2 .polygon::before, .section h2 .polygon::after {
      top: 40%; }
  .section h3 {
    margin-bottom: 45px;
    text-align: center;
    color: #fff; }
  .section p {
    max-width: 995px;
    margin: 0 auto 30px;
    line-height: 26px;
    text-align: center;
    font-weight: 300; }
  .section .container p:last-of-type {
    margin-bottom: 0; }

.color-yellow {
  color: #fe9700; }

.about {
  background-image: url(../img/about-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat; }

.about-slider__item {
  position: relative; }

.about-slider__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1; }

.btn-play {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .btn-play .icon-play-arrow {
    font-size: 24px;
    color: #fff; }

.about-slider {
  margin-bottom: 80px; }

.about-slider__item img {
  margin: 0 auto;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.slick-center img {
  position: relative;
  -webkit-box-shadow: 0px 0 20px 0px rgba(254, 151, 0, 0.4);
          box-shadow: 0px 0 20px 0px rgba(254, 151, 0, 0.4);
  -webkit-transform: scale(2.8);
      -ms-transform: scale(2.8);
          transform: scale(2.8);
  z-index: 10; }

.slick-center .about-slider__overlay {
  z-index: 100; }

.slick-center .btn-play {
  width: 160px;
  height: 160px; }
  .slick-center .btn-play .icon-play-arrow {
    font-size: 32px; }

.slick-list {
  padding-top: 220px !important;
  padding-bottom: 220px !important; }

.slick-slide {
  outline: 0; }

.slick-next:before {
  content: '\e908'; }

.slick-prev:before {
  content: '\e908'; }

.slick-next:before, .slick-prev:before {
  font-size: 24px;
  color: #626262;
  font-family: "icomoon";
  vertical-align: middle;
  color: #fff;
  opacity: 1; }

.slick-prev {
  left: -20px;
  top: 51%;
  -webkit-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
          transform: scale(-1, -1); }

.slick-next {
  right: -20px;
  top: 51%; }

.slick-dots {
  bottom: -30px; }
  .slick-dots li {
    margin: 0 1px; }
    .slick-dots li button {
      display: block;
      width: 2px;
      height: 16px;
      padding: 0;
      border: none;
      background: transparent;
      -webkit-border-radius: 0;
              border-radius: 0;
      border-radius: 0;
      background: #fff; }
      .slick-dots li button::before {
        display: none; }
    .slick-dots li.slick-active button {
      height: 32px;
      background: #fe9700; }
      .slick-dots li.slick-active button::before {
        display: none; }

ol.custom-ol {
  max-width: 740px;
  margin: 0 auto 50px;
  list-style: none;
  counter-reset: item; }
  ol.custom-ol li {
    position: relative;
    counter-increment: item;
    padding: 0 0 0 64px;
    margin-bottom: 30px; }
    ol.custom-ol li::before {
      content: counter(item);
      position: absolute;
      left: 0;
      top: -2px;
      width: 34px;
      height: 32px;
      line-height: 32px;
      background: url(../img/polygon-list.png);
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-weight: bold; }

.story {
  background: url(../img/story-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.section-white {
  background: #fff; }
  .section-white * {
    color: #333; }
  .section-white ol.custom-ol li::before {
    color: #333; }

.monetization {
  background-image: url(../img/monetization-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat; }

.step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 100px;
  max-width: 1055px;
  margin: 0 auto;
  list-style: none;
  counter-reset: step; }
  .step li {
    display: inline-block;
    min-width: 184px;
    position: relative;
    counter-increment: step;
    text-align: center; }
    .step li::before {
      content: counter(step);
      display: block;
      margin: 0 auto 18px;
      width: 148px;
      height: 142px;
      line-height: 142px;
      background: url(../img/step-pink.png);
      text-align: center;
      color: #fe9700;
      font-size: 54px;
      font-weight: bold; }
    .step li:nth-child(even) {
      top: 100px; }
      .step li:nth-child(even)::after {
        content: '';
        position: absolute;
        width: 150px;
        height: 1px;
        right: -130px;
        top: 20px;
        -webkit-transform: rotate(-27deg);
            -ms-transform: rotate(-27deg);
                transform: rotate(-27deg);
        background: #F2F2F2; }
    .step li:last-child::after {
      display: none; }
    .step li:nth-child(odd)::after {
      content: '';
      position: absolute;
      width: 150px;
      height: 1px;
      right: -130px;
      top: 120px;
      -webkit-transform: rotate(27deg);
          -ms-transform: rotate(27deg);
              transform: rotate(27deg);
      background: #F2F2F2; }
    .step li.step-blue::before {
      color: #999;
      background: url(../img/step-blue.png); }
    .step li span {
      display: block;
      margin-bottom: 18px;
      font-size: 16px;
      color: #999; }
    .step li strong {
      display: block;
      font-size: 22px;
      color: #333; }

.token {
  position: relative;
  background: url(../img/token-bg.jpg) center top;
  -webkit-background-size: cover;
          background-size: cover; }
  .token p {
    max-width: none; }
  .token .btn {
    display: block;
    margin: 0 auto; }

.money {
  padding: 50px 0 50px; }

.money-item {
  font-size: 32px;
  font-family: "RobotoCondensed"; }
  .money-item::before {
    padding-right: 10px;
    vertical-align: middle; }
  .money-item.icon-cash::before {
    font-size: 48px; }
  .money-item strong {
    display: inline-block;
    font-weight: bold; }

.money-item__value {
  position: relative;
  margin-left: 15px; }
  .money-item__value::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid; }

.color-white {
  color: #fff; }

.color-green {
  color: #00796b; }

footer {
  background: #000;
  font-size: 16px; }
  footer .justify-align {
    padding: 28px 0; }
  footer .soc-btn {
    font-size: 18px; }

.agreement {
  border-bottom: 1px solid; }

.footer-site {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid; }

@media only screen and (max-width: 1300px) {
  .slick-prev {
    left: 0; }
  .slick-next {
    right: 0; } }

@media only screen and (max-width: 1230px) {
  .container {
    width: 970px; }
  .main-menu ul > li {
    margin-right: 20px; }
    .main-menu ul > li > a {
      font-size: 16px; }
  .login-link {
    font-size: 16px; }
  .login .icon-key {
    font-size: 20px; }
  .logo {
    margin-bottom: 30px; }
    .logo img {
      max-width: 80px; }
  h2, h1 {
    font-size: 34px; }
  h3 {
    font-size: 26px; }
  .banner h2 {
    margin-bottom: 30px; }
  .banner h4 {
    margin-bottom: 30px;
    font-size: 20px; }
  .slick-center img {
    -webkit-transform: scale(1.8);
        -ms-transform: scale(1.8);
            transform: scale(1.8); }
  .slick-list {
    padding-top: 120px !important;
    padding-bottom: 120px !important; }
  .section p br {
    display: none; }
  .step li:nth-child(odd)::after {
    width: 120px;
    right: -90px;
    top: 125px; }
  .step li:nth-child(even)::after {
    width: 120px;
    height: 1px;
    right: -94px;
    top: 22px; }
  .money-item {
    font-size: 28px; }
  h3 {
    font-size: 24px; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  .main-menu ul > li {
    margin-right: 15px; }
    .main-menu ul > li > a {
      font-size: 14px; }
  .login-link {
    font-size: 12px; }
  .banner-overlay {
    padding: 10px 0 0; }
  .logo {
    margin-bottom: 20px; }
  .banner h2 {
    margin-bottom: 20px;
    font-size: 24px; }
  .banner h4 {
    margin-bottom: 20px; }
    .banner h4 br {
      display: none; }
  .btn {
    width: 290px;
    height: 58px;
    line-height: 58px;
    font-size: 16px; }
  .section {
    padding: 50px 0; }
  .money {
    display: block; }
  .money-item {
    margin-bottom: 20px;
    text-align: center; }
    .money-item:last-child {
      margin-bottom: 0; }
  .step {
    padding: 50px 0 0; }
  .step li:nth-child(odd)::after {
    display: none; }
  .step li:nth-child(even)::after {
    display: none; }
  footer .justify-align {
    display: block;
    text-align: center; }
    footer .justify-align .copyright, footer .justify-align .soc-btn {
      display: block;
      margin-bottom: 15px;
      text-align: center; }
    footer .justify-align .agreement {
      display: inline-block;
      margin-bottom: 15px;
      text-align: center; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto; }
  .burger-menu {
    display: block;
    margin: 0;
    padding: 0;
    width: 30px;
    outline: none;
    border: none;
    background: transparent; }
    .burger-menu:focus {
      outline: none; }
    .burger-menu span {
      position: relative;
      width: 100%;
      display: block;
      height: 3px;
      margin: 0 auto 3px;
      background: #999;
      -webkit-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out; }
    .burger-menu > span:last-child {
      margin-bottom: 0; }
    .burger-menu.active span:nth-of-type(1) {
      top: 4px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .burger-menu.active span:nth-of-type(2) {
      background-color: transparent; }
    .burger-menu.active span:nth-of-type(3) {
      top: -8px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .main-menu ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background: #000;
    display: none;
    z-index: 100; }
    .main-menu ul li {
      display: block;
      text-align: center; }
      .main-menu ul li a {
        display: block;
        padding: 10px 0;
        font-size: 16px; }
  .logo {
    margin-bottom: 10px; }
    .logo img {
      max-width: 50px; }
  h3 {
    font-size: 22px; }
  .banner h2 {
    margin-bottom: 15px; }
  .banner h4 {
    margin-bottom: 15px;
    font-size: 16px; }
  .step {
    display: block; }
    .step li {
      display: block;
      margin-bottom: 50px; }
      .step li:nth-child(even) {
        top: 0; }
      .step li:last-child {
        margin: 0; } }

@media only screen and (max-width: 550px) {
  .header-wrap {
    min-height: 50px; }
  .main-menu ul {
    top: 48px; }
  .banner > img {
    min-height: 300px; }
  .banner .logo {
    display: none; }
  .banner .soc-btn {
    padding-bottom: 10px;
    text-align: center; }
    .banner .soc-btn a {
      color: #fff; }
  .banner h2 {
    font-size: 20px; }
  .polygon {
    padding: 0; }
    .polygon::before, .polygon::after {
      display: none; }
  p {
    font-size: 16px;
    line-height: 20px; }
    p a {
      word-break: break-all; }
  .login-link {
    font-size: 10px; }
  .login .icon-key {
    font-size: 14px; }
  .slick-center img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .slick-center .btn-play {
    width: 80px;
    height: 80px; }
  .slick-list {
    padding-top: 0 !important;
    padding-bottom: 30px !important; }
  .section h2 {
    margin-bottom: 30px; }
  .section p {
    margin-bottom: 20px; }
  .section h3 {
    font-size: 18px;
    margin-bottom: 30px; }
  ol.custom-ol li {
    padding: 0 0 0 54px;
    margin-bottom: 20px; }
  h2 {
    font-size: 28px; }
  .money-item {
    font-size: 18px; }
  .money-item.icon-cash::before {
    font-size: 30px; } }
